h3,h1 {
    text-align: center;
}
h3 {
    padding-top: 10px ;
}
img {
    margin: 10px auto 20px;
    display: block;
    
}
body {
    background-color: gold;
}
.chapters {
    font-size: 15px;
    color:black;
}
nav {
    
    left: 130px;
    top:10px;
    
}
.example {
    position: relative;
    background-color: grey;
    height: 300px;
}
.box {
    background-color: green;
    position: relative;
    display: inline-block;
    width: 200px;
    height:200px;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
    vertical-align: middle;
}
.red {
    background-color: red;
    height: 50%;
    width: 50%;
}
